:root{
  --cor-fundo-primaria:#2B5681;
  --cor-fundo-terciaria:#006BD6;
  --cor-fundo-quartenaria:#7ecce4;
  --cor-fundo-quinternaria:#222B33;
  --cor-primaria:#eeeeee;
  --cor-secundaria:#313131;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.botao_para_subir {
  width: 40px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--cor-fundo-primaria);
  transition: .4s;
}

.botao_para_subir:hover{
  transform: scale(1.1);
  transform: translateY(-5px);
}


header {
  background-color: var(--cor-fundo-primaria);
  color: var(--cor-primaria);
}

.details_nav {
  position: relative;
}

.list_nav {
  all: unset;
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  columns: 3;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  flex-wrap: wrap;
  z-index: 1;
  overflow: scroll;
  scrollbar-width: none;
}

.li {
  flex: 1 1 150px;
  height: 40px;
  background-color: var(--cor-fundo-sexternaria);
  color: rgb(255, 255, 255);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .15s;
}

.list_nav li:hover {
  background-color: rgb(87, 87, 87);
  font-size: 1.5rem;
}

.link_nav {
  all: unset;
  padding: 5px;
  color: rgb(153, 153, 153);
  border: 1px solid black;
  transition: 0.2s;
  border-radius: 5px;
}

.link_nav:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}

footer {
  background-color: var(--cor-fundo-primaria);
  color:var(--cor-primaria);
}
