* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.botao_para_subir {
  width: 40px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 8px;
  border-radius: 50%;
  background-color: rgb(126, 204, 228);
}

header {
  background-color: rgb(126, 204, 228);
}

.details_nav{
  position: relative;
}

.list_nav{
  all: unset;
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  columns: 3;
  border-radius: 5px;
  overflow: hidden;
  width: 150px;
  flex-wrap: wrap;
  z-index: 1;
  height: 200px;
  overflow:scroll;
  scrollbar-width: none;
}

.li{
  flex:1 1 150px;
  background-color: rgb(0, 162, 255);
  color: rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
}

.list_nav li:hover{
  display: block;
  background-color: rgb(0, 87, 138);
  
}

.link_nav{
  all: unset;
  padding: 5px;
  color: rgb(153, 153, 153);
  border: 1px solid black;
  transition: .2s;
  border-radius: 5px;
}

.link_nav:hover{
  background-color: black;
  color: white;
  text-decoration: underline;
}

footer {
  background-color: rgb(126, 204, 228);
}
